<div>
    <h1>Inspirational quotes</h1>
     <hr>
     <div>
        <div *ngFor='let quote of quotes;let i = index'>
            <li>
             {{quote.id}}: {{quote.description}} :{{quote.author}}
            </li>
            <button (click)='toggleDetails(i)'>Show more</button>
            <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'(isComplete) = 'completeGoal($event,i)'></app-quote-detail>
        </div>
    </div>
    <p *ngIf='quotes.length > 5'>You have too many quotes</p>
</div>

